@media screen and (max-width: 2000px) {
  .box_shadow_card {
    padding: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
