@media screen and (min-width: 1200px) {
  .dashboard_status {
    text-align: center;
  }

  .dashboard_status img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  .dashboard_status h3 {
    font-size: 20px;
    font-family: gelion_bold;
    color: var(--red);
    margin-bottom: 10px;
  }

  .dashboard_status p {
    font-size: 16px;
    font-family: gelion_reg;
    color: var(--hover-black);
  }
}
