@font-face {
  font-family: gelion_light;
  src: url("../fonts/Gelion Light.ttf");
}

@font-face {
  font-family: gelion_reg;
  src: url("../fonts/Gelion Regular.ttf");
}

@font-face {
  font-family: gelion_bold;
  src: url("../fonts/Gelion Bold.ttf");
}

:root {
  --pink: #ffc7c7;
  --peach: #ffe2e2;
  --white: #f6f6f6;
  --red: #ff9494;
  --black: #67657e;
  --hover-black: #353441;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  width: 85vw;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blue;
}
