@font-face {
  font-family: gelion_light;
  src: url("../fonts/Gelion Light.ttf");
}

@font-face {
  font-family: gelion_reg;
  src: url("../fonts/Gelion Regular.ttf");
}

@font-face {
  font-family: gelion_bold;
  src: url("../fonts/Gelion Bold.ttf");
}

:root {
  --pink: #f8bcbc;
  --peach: #ffe2e2;
  --white: #f6f6f6;
  --red: #ff9494;
  --black: #696781;
  --blue: #33b5e5;
  --green: #26af48;

  --hover-peach: #f5d9d9;
  --hover-black: #3d3c4b;
  --hover-red: #f16f6f;

  --light-red: #f7aaaabd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  width: 85vw;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: blue;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.text-center {
  text-align: center;
}
