@media screen and (min-width: 1200px) {
  /* =============== */
  .health_status_box {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 0px;
    text-align: center;
    border-radius: 8px;
  }

  .health_status_box img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  .health_status_box h3 {
    font-size: 20px;
    font-family: gelion_bold;
    color: var(--red);
    margin-bottom: 10px;
  }

  .health_status_box p {
    font-size: 16px;
    font-family: gelion_reg;
    color: var(--hover-black);
  }
  /* =============== */
}
