@media screen and (min-width: 1200px) {
  .profile_bar {
    height: 700px;
    padding: 10px 0px;
  }

  .profile_bar_img {
    text-align: center;
    margin-bottom: 20px;
  }
  .profile_bar_img img {
    height: 100px;
    object-fit: cover;
    width: 100px;
    border-radius: 50%;
  }

  .profile_bar_user_details {
    margin-bottom: 60px;
    text-align: center;
  }

  .profile_bar_user_details h1 {
    font-size: 25px;
    font-family: gelion_bold;
    color: var(--red);
  }

  .profile_bar_user_details p {
    font-size: 15px;
    font-family: gelion_reg;
    color: var(--pink);
  }

  .profile_bar li {
    margin-bottom: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--black);
    font-family: gelion_reg;
    font-size: 17px;
    cursor: pointer;
  }

  .profile_bar li a {
    display: flex;
    gap: 20px;
    align-items: center;
    color: var(--black);
  }

  .profile_bar li i {
    width: 15px;
  }

  .profile_bar li a:hover {
    color: var(--pink);
  }

  .profile_bar a.active {
    color: var(--red);
  }

  #profile_no_link {
    color: var(--hover-red);
    position: relative;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: auto;
  }
  #profile_no_link::after {
    width: 100%;
    content: "";
    display: block;

    border-bottom: 0.5px solid rgba(0, 0, 0, 0.225);
    margin-top: 5px;
  }
}
