@media screen and (min-width: 1200px) {
  .settings {
    padding: 40px 0;
  }

  .settings .settings_container {
    display: flex;
    gap: 30px;
    padding: 0px 50px;
    max-width: 1600px;
    margin: 0 auto;
  }

  .settings_left {
    flex: 0.2 1;
    position: relative;
    /* background-color: antiquewhite; */
  }
  /* .settings_left::after {
    content: "";
    height: 100%;
    padding: 0.5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--light-red);
  } */

  .settings_right {
    flex: 0.8 1;
  }
}
