@media screen and (min-width: 100px) {
  .table_wrapper {
    overflow-x: auto;
    /* 
    border-bottom: 1px solid var(--hover-black);
    border-top: 1px solid var(--hover-black); */
  }

  table {
    overflow-x: scroll;
    width: 100%;
    /* max-width: 100%; */
    border-collapse: collapse;
    /* table-layout: fixed; */
    /* white-space: nowrap; */
  }

  th {
    font-family: gelion_bold;
    font-size: 20px;
    color: var(--hover-black);
    padding: 10px 0px;
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.215) !important;
  }
  td {
    white-space: nowrap;
    padding: 16px 12px 16px 24px;
    /* min-width: 250px;
    max-width: 260px; */
  }

  td:first-child {
    padding-left: 1rem;
  }

  td p {
    font-family: gelion_reg;
    font-size: 16px;

    color: var(--black);
  }

  table .status {
    font-size: 14px;
    border-radius: 50px;
    padding: 2px 0px;
    width: 80px;
    margin: 0 auto;
    text-align: center;
  }

  table .pending {
    background-color: #ff98001f !important;
    color: #f39c12 !important;
  }

  table .cancelled {
    background-color: #f211361f !important;
    color: #e63c3c !important;
  }

  table .confirmed {
    background-color: #0fb76b1f !important;
    color: #26af48 !important;
  }

  table .done {
    background-color: #33b5e5;
    color: var(--white);
  }
}
