@media screen and (min-width: 1200px) {
  .about {
    padding: 80px 0px;
  }

  .about .content {
    width: 510px;
  }

  .about .content h1 {
    font-family: gelion_bold;
    color: var(--white);
    font-size: 55px;
    margin-bottom: 30px;
  }

  .about .content h1::before {
    content: "";
    height: 40px;
    padding: 4px;
    margin-right: 15px;
    background: var(--red);
  }

  .about .content p {
    color: var(--white);
    font-family: gelion_reg;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .mission_vision {
    padding: 70px 0px;
  }

  .mission_vision .header {
    text-align: center;
  }

  .mission_vision .header h1 {
    font-size: 55px;
    font-family: gelion_bold;
    color: var(--black);
    position: relative;
  }

  .mission_vision .header h1::before {
    content: "";
    width: 20%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    left: 0;
    top: 35px;
  }

  .mission_vision .header h1::after {
    content: "";
    width: 20%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    right: 0;
    top: 35px;
  }

  .mission_vision .content {
    margin-bottom: 40px;
  }

  .mission_vision .content h1 {
    font-size: 45px;
    font-family: gelion_bold;
    color: var(--red);
  }

  .mission_vision .content p {
    font-size: 20px;
    font-family: gelion_reg;
    color: var(--black);
  }
}

@media screen and (991.98px <= width <= 1199.98px) {
  .about {
    padding: 72px 0px;
  }

  .about .content {
    width: 540px;
  }

  .about .content h1 {
    font-family: gelion_bold;
    color: var(--white);
    font-size: 50px;
    margin-bottom: 30px;
  }

  .about .content h1::before {
    content: "";
    height: 40px;
    padding: 3px;
    margin-right: 15px;
    background: var(--red);
  }

  .about .content p {
    color: var(--white);
    font-family: gelion_reg;
    margin-bottom: 20px;
    font-size: 19px;
  }

  .mission_vision {
    padding: 72px 0px;
  }

  .mission_vision .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .mission_vision .header h1 {
    font-size: 50px;
    font-family: gelion_bold;
    color: var(--black);
    position: relative;
  }

  .mission_vision .header h1::before {
    content: "";
    width: 17%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    left: 0;
    top: 28px;
  }

  .mission_vision .header h1::after {
    content: "";
    width: 17%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    right: 0;
    top: 28px;
  }

  .mission_vision .content {
    margin-bottom: 40px;
  }

  .mission_vision .content h1 {
    font-size: 38px;
    font-family: gelion_bold;
    color: var(--red);
  }

  .mission_vision .content p {
    font-size: 18px;
    font-family: gelion_reg;
    color: var(--black);
  }
}

@media screen and (767.98px <= width <= 991.98px) {
  .about {
    padding: 64px 0px;
  }

  .about .content h1 {
    font-family: gelion_bold;
    color: var(--white);
    font-size: 45px;
    margin-bottom: 30px;
  }

  .about .content h1::before {
    content: "";
    height: 40px;
    padding: 3px;
    margin-right: 15px;
    background: var(--red);
  }

  .about .content p {
    color: var(--white);
    font-family: gelion_reg;
    margin-bottom: 20px;
    font-size: 19px;
  }

  .mission_vision {
    padding: 64px 0px;
  }

  .mission_vision .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .mission_vision .header h1 {
    font-size: 45px;
    font-family: gelion_bold;
    color: var(--black);
    position: relative;
  }

  .mission_vision .header h1::before {
    content: "";
    width: 17%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    left: 0;
    top: 27px;
  }

  .mission_vision .header h1::after {
    content: "";
    width: 17%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    right: 0;
    top: 27px;
  }

  .mission_vision .content {
    margin-bottom: 40px;
  }

  .mission_vision .content h1 {
    font-size: 38px;
    font-family: gelion_bold;
    color: var(--red);
  }

  .mission_vision .content p {
    font-size: 18px;
    font-family: gelion_reg;
    color: var(--black);
  }
}

@media screen and (575px <= width <= 767.98px) {
  .about {
    padding: 58px 0px;
  }

  .about .content h1 {
    font-family: gelion_bold;
    color: var(--white);
    font-size: 40px;
    margin-bottom: 30px;
  }

  .about .content h1::before {
    content: "";
    height: 40px;
    padding: 2px;
    margin-right: 15px;
    background: var(--red);
  }

  .about .content p {
    color: var(--white);
    font-family: gelion_reg;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .mission_vision {
    padding: 58px 0px;
  }

  .mission_vision .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .mission_vision .header h1 {
    font-size: 40px;
    font-family: gelion_bold;
    color: var(--black);
    position: relative;
  }

  .mission_vision .header h1::before {
    content: "";
    width: 15%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    left: 0;
    top: 22px;
  }

  .mission_vision .header h1::after {
    content: "";
    width: 15%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    right: 0;
    top: 22px;
  }

  .mission_vision .content {
    margin-bottom: 40px;
  }

  .mission_vision .content h1 {
    font-size: 34px;
    font-family: gelion_bold;
    color: var(--red);
  }

  .mission_vision .content p {
    font-size: 17px;
    font-family: gelion_reg;
    color: var(--black);
  }
}

@media screen and (max-width: 575px) {
  .about {
    padding: 50px 0px;
  }

  .about .content h1 {
    font-family: gelion_bold;
    color: var(--white);
    font-size: 35px;
    margin-bottom: 30px;
  }

  .about .content h1::before {
    content: "";
    height: 40px;
    padding: 2px;
    margin-right: 15px;
    background: var(--red);
  }

  .about .content p {
    color: var(--white);
    font-family: gelion_reg;
    margin-bottom: 20px;
    font-size: 17px;
  }

  .mission_vision {
    padding: 50px 0px;
  }

  .mission_vision .header {
    text-align: center;
    margin-bottom: 20px;
  }

  .mission_vision .header h1 {
    font-size: 35px;
    font-family: gelion_bold;
    color: var(--black);
    position: relative;
  }

  .mission_vision .header h1::before {
    content: "";
    width: 15%;

    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    left: 0;
    top: 22px;
  }

  .mission_vision .header h1::after {
    content: "";
    width: 15%;
    position: absolute;
    padding: 1px;
    background-color: var(--pink);
    right: 0;
    top: 22px;
  }

  .mission_vision .content {
    margin-bottom: 40px;
  }

  .mission_vision .content h1 {
    font-size: 30px;
    font-family: gelion_bold;
    color: var(--red);
  }

  .mission_vision .content p {
    font-size: 16px;
    font-family: gelion_reg;
    color: var(--black);
  }
}

@media screen and (max-width: 530px) {
  .mission_vision .header h1::before {
    content: none;
  }

  .mission_vision .header h1::after {
    content: none;
  }
}
